.header-block-content {
    display: flex;
    gap: 10px;
    font-size: 18px;
}
.header-block-content{
 background-color:#0388fc;
 color: black;
	border:1px solid #002752;
}

a {
  text-decoration: none;
outline: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

.item-pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}


.item-pagination a.active {
    background-color: dodgerblue;
    color: white;
}

.item-pagination a:hover:not(.active)
{background-color: #ddd;}

.content-title-slogan {
    color: #031234;
    text-align: center;
    background-color:#82bcfa;
  }
  .subtitle-slogan{
    color: #3759A7;
    text-align: center;
  }
